@charset "UTF-8";

/*OOCSS*/

html {
  font-size: 100%;
}

body {
  color: #2d2d2d;
  font-family: 'Crimson Text', serif;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

ul {
  list-style: none;
}

a {
  color: #2d2d2d;
  text-decoration: none;
}


.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 20px;
}

.site-title {
  width: 130px;
  line-height: 3px;
  margin-right: 40px;
}

.site-title a {
  display: block;
}

.section-title {
  font-size: 2rem;
  font-weight: normal;
  margin-bottom: 5px;
}

.section-title-en {
  display: inline-block;
  margin-bottom: 30px;
}

/*-------------------------------------------
Mainvisual
-------------------------------------------*/

#mainvisual {
  width: 100vw;
  margin: 4% auto 0 auto;
}

/*-------------------------------------------
Header
-------------------------------------------*/
#header {
  width: 100vw;
  display: flex;
  align-items: center;
  padding: 40px 0;
  margin: 0 auto 25px auto;
}

#header ul {
  display: flex;
}

#header li {
  font-size: 1rem;
  margin-right: 25px;
}

#header li:last-child {
  margin-right: 0;
}

/*-------------------------------------------
Concept、Work
-------------------------------------------*/
.content {
  display: flex;
  align-items: center;
  margin-bottom: 55px;
}

.content .img {
  width: 50%;
}

.content .text {
  width: 50%;
  padding: 0 7%;
}

/*-------------------------------------------
Footer
-------------------------------------------*/
#footer {
  display: flex;
  justify-content: space-between;
  font-size: 1rem;
  padding: 25px 0;
}

#footer .logo {
  width: 120px;
}

/*-------------------------------------------
SP
-------------------------------------------*/
@media screen and (max-width: 767px) {
  .section-title {
    font-size: 1.25rem;
  }

  /*-------------------------------------------
  Mainvisual
  -------------------------------------------*/
  #mainvisual {
    width: 100%;
    margin: 0;
  }

  #mainvisual img {
    width: 100%;
    height: 50vh;
    object-fit: cover;
  }

  /*-------------------------------------------
  Header
  -------------------------------------------*/
  #header {
    width: 100%;
    padding: 15px 20px;
  }

  /*-------------------------------------------
  Concept、Work
  -------------------------------------------*/

  #work {
    flex-direction: column-reverse;
  }

  .content {
    flex-direction: column;
  }

  .content .img {
    width: 100%;
    margin-bottom: 15px;
  }

  .content .text {
    width: 100%;
    padding: 0;
  }
}